{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ADD POST Modal -->
<div id="modal-newpost" class="modal-open modal">
  <div class="modal-content">

    <h3>New Post</h3>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form method="POST" action="{% url 'new_post' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ post_form.as_p }}
      <input type="submit" class="btn2" value="Add Post">
    </form>

  </div>
</div>


<h4 class="page-subheader">{{ city.name }}, {{ city.country }}</h4>
<hr />

<div class="container">
<div class="row">

  <div class="post col s11">
    <div class="card">
      <div class="card-content">
        <img src="{{ city.upload_picture.url }}" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="post col s11">
    {% for post in posts %}
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="posts">
            <div class="post col s3">
              <a href="{% url 'profile' %}"><img class="circle responsive-img" src="{{ post.profile.upload_picture.url }}"
                  style="width: 100px; height: 100px;"></a>
            </div>
            <div class="post col s9">
              <a href="{% url 'post_index' post.id%}">
                <h6>{{post.title}}</h6>
              </a>
              <p>{{post.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="right post col s1">
      <br>
      {% if user.is_authenticated %}
      <a class=" btn-floating waves-effect waves-light red modal-trigger" href="#modal-newpost"
        class="modal modal-open "><i class="material-icons">add</i></a>
      {% endif %}
  </div>

</div>
</div>


<script>
  $(document).ready(function () {
    $('select').not('.disabled').formSelect();
  });
</script>
{% endblock %}