{% comment %}
{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theSpot</title>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- media folder user photo uploads -->
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        
          <label><a href="/" class="left brand-logo">&nbsp;&nbsp;theSpot</a></label>
      
        
          <ul class="unorderedlist active right">
            <li><a class="closer" href="{% url 'cities' %}">Cities</a></li>
            <li><a class="closer" href="{% url 'posts' %}">Posts</a></li>
            {% if user.is_authenticated %}
              <li><a class="closer" href="{% url 'profile' %}">Profile</a></li>
              <li><button class="btn3 closer"><a  href="{% url 'logout' %}"> Log Out</a></button></li>
            {% else %}
              <li><button class="btn3 closer modal-trigger" href="#modal-signup" class="modal modal-open">Sign Up</button></li>
              <li><button class="btn3 closer modal-trigger" href="#modal-login" class="modal modal-open">Login</button></li>
            {% endif %}
          </ul>
          
          {% comment %}
          <!-- <select>
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;theSpot</a></li>
        </ul>
          <option value="" selected="selected">Navigate</option>
            <option class="right">
              <option value="{% url 'cities' %}">Cities</option>
              <option value="{% url 'posts' %}">Posts</option>
              {% if user.is_authenticated %}
                <option value="{% url 'profile' %}">Profile</option>
                <option value="{% url 'logout' %}"><button class="btn3">Log Out</button></option>
              {% else %}
                <option value="#modal-login" class="btn3 modal-trigger" class="modal modal-open">Sign Up</option>
                <option value="#modal-login" class="btn3 modal-trigger" class="modal modal-open">Login</option>
              {% endif %}
        </option>
        </select> -->
        {% endcomment %}
      </div>
    </nav>
  </header>

  <!-- ******************** Modal Structure Below ********************-->
  
    <!-- SIGNUP Modal -->
    <div id="modal-signup" class="modal-open modal">
      <div class="modal-content">

        <h1>Sign Up</h1>

        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          {{ signup_form.as_p }}
          <input type="submit" class="btn2" value="signup">
        </form>

      </div>
      <!-- <div class="modal-footer">
        <a href="{% url 'signup' %}" class="modal-close waves-effect waves-green btn-flat">Sign Up</a> -->
      </div>
    </div>

    <!-- LOGIN Modal -->
    <div id="modal-login" class="modal-open modal">
      <div class="modal-content">

      <h1>Log In</h1>

      <!-- Add the login form -->
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn2" value="login">
        <input type="hidden" class="btn2" name="next" value="{{ next }}">
      </form>

      </div>
      <!-- <div class="modal-footer">
        <a href="{% url 'login' %}" class="modal-close waves-effect waves-green btn-flat">Log In</a>
      </div> -->
    </div>

    {% comment %}
    <!-- CITIES Modal -->
    <!-- <div id="modal-cities" class="modal-open modal">
      <div class="modal-content">

      </div>
      <div class="modal-footer">
        <a href="{% url 'profile'}" class="modal-close waves-effect waves-green btn-flat">Cities</a>
      </div>
    </div> -->

    <!-- PROFILE Modal -->
    <!-- <div id="modal-profile" class="modal-open modal">
      <div class="modal-content">

      </div>
      <div class="modal-footer">
        <a href="{% url 'profile' %}" class="modal-close waves-effect waves-green btn-flat">Profile</a>
      </div>
    </div> -->
    
    <!-- LOGOUT Modal -->
    <!-- <div id="modal-logout" class="modal-open modal">
      <div class="modal-content">
        
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Log Out</a>
      </div>
    </div> -->
    {% endcomment %}


  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <!-- jquery/metrialize cript for modals -->
  <script>
    $(document).ready(function () {
      $('.modal').modal();
    });

  // Create the dropdown base
  $("<select />").appendTo("nav");

  // Create default option "Go to..."
  $("<option />", {
    "selected": "selected",
    "value": "",
    "text": "Go to..."
  }).appendTo("nav select");

  // Populate dropdown with menu items
  $("nav a").each(function () {
    var el = $(this);
    $("<option />", {
      "value": el.attr("href"),
      "text": el.text()
    }).appendTo("nav select");
  });

  $("nav select").change(function () {
    window.location = $(this).find("option:selected").val();
  });
</script>

</body>
</html>