{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theSpot</title>
  <!-- materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">


</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;theSpot</a></li>
        </ul>
        <ul class="right">
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" class="modal modal-open">Cities</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" class="modal modal-open">Profile</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" class="modal modal-open">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" class="modal modal-open">Sign Login</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" class="modal modal-open">Log Out</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    



  <!-- Modal Structure -->
  <div id="modal1" class="modal-open modal">
    <div class="modal-content">
      <h4>modal is showing</h4>
      <p>display information for user to sign up</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Sign Up</a>
    </div>
  </div>

  
  
</main>
<footer class="page-footer">
  <div class="right">All Rights Reserved, &copy; 2020 theSpot &nbsp;</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>
</body>

</html>