{% extends 'base.html' %}
{% block content %}

<h1>all cities page</h1>
<hr />

{% for city in cities %}
<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="cities">
        <div class="city col s4">
          <p>{{ city.picture }}</p>
        </div>
        <div class="city col s8">
          <a href="{{ city.id }}">
            <span class="card-title">{{ city.name }}, {{ city.country }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}


