{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>City: {{ city.name }}, {{ city.country }}</h1>
<hr />


<h5>POSTS</h5>
{% for post in posts %}
<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="posts">
        <div class="post col s3">
          <p>{{post.picture}}</p>
        </div>
        <div class="post col s9">
          <a href="{% url 'post_index' post.id%}">
            <h6>{{post.title}}</h6>
          </a>
          <p>{{post.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}

{% comment %}
https://studygyaan.com/django/how-to-upload-and-display-image-in-django#:~:text=Upload%20in%20Image%20in%20Django%20Model%20using%20ImageField&text=Bellow%20is%20the%20Employee%20Django%20Model.&text=Note%20%E2%80%93%20All%20the%20uploaded%20images,store%20in%20media%2Fupload%20folder.&text=Whenever%2C%20we%20upload%20images%20or,data%22%20and%20%7B%25%20csrf_token%20%25%7D%20.
{% endcomment %}