{% extends 'base.html' %}
{% load tz %}
{% block content %}

<h3>Edit Profile Page</h3>
<hr />


<div class="card">
  <div class="card-content">
    <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_form.as_p }}
      

      <br><br>

      <button class="btn2" type="submit" name="update">Update</button>
    </form>

  </div>
</div>

<!-- using materialize to edit drop downs -->
<script>
  $(document).ready(function () {
      $('select').not('.disabled').formSelect();
    });
</script>

{% endblock %}
