{% extends 'base.html' %}
{% block content %}


<!-- main image -->
<br>
<div class="carousel">
  <img class="worldmap" src="../static/worldmap.png" alt="map of world">
</div>

<!-- one liner description -->
<br>
<div id="main_title">
  <h4>A travel community for your favorite locations around the
  world</h4>
</div>

<!-- topics -->
<div class="not-mobile">
  <div class="row">
    <div class="topics">
      <div class="topic col s4">
        <h5>Topic1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, rerum voluptatibus velit distinctio neque odio qui reiciendis animi incidunt eum sapiente voluptatem assumenda nesciunt in autem voluptates non eos ab numquam earum quo aperiam excepturi officiis ad. </p>
      </div>
      <div class="topic col s4">
        <h5>Topic2</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, cumque at. Veritatis eius fugiat mollitia dolore maxime eligendi culpa ex voluptatibus autem porro voluptates temporibus vitae fuga nam molestias libero voluptatem ad sunt assumenda possimus, incidunt eum! Vero reprehenderit reiciendis atque, facere, adipisci dolorum officiis porro minima et ab molestias quam quidem aliquid accusamus illum, dignissimos corrupti quisquam?</p>
      </div>
      <div class="topic col s4">
        <h5>Topic3</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptas repellat sunt omnis laudantium, numquam minima totam officiis, excepturi aspernatur assumenda ratione quidem maxime provident labore sed! Labore sunt nobis exercitationem quidem nisi voluptate dolore tenetur cumque, mollitia velit delectus.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}