{% extends 'base.html' %}
{% block content %}

<!-- DELETE POST Modal -->
<div id="modal-deletepost" class="modal-open modal">
  <div class="modal-content">

    <h3>Are you sure you want to delete {{post.title}}?</h3>
    <a href="{% url 'post_index' post.id%}"><button class="btn2">Back</button></a>
    <a href="{% url 'delete_post' post.id%}"><button class="btn2">Delete</button></a>
    <a href="{% url 'post_index' post.id%}"><button class="btn2"><i class="material-icons">arrow_back</i></button></a>
    <a href="{% url 'delete_post' post.id%}"><button class="btn2"><i class="material-icons">delete</i></button></a>
  </div>
</div>


<h4 class="page-subheader">Post Details</h4>
<hr />
<main class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        
        <div class="city col s1">
          {% if user.id == post.profile.id %} <br><br>
          <a href="{% url 'edit_post' post.id %}">
            <button class="btn2" type="submit" name="edit"><i class="material-icons">edit</i></button>
          </a> <br><br>
          <a class="modal-trigger" href="#modal-deletepost" class="modal modal-open">
            <button class="btn2" type="submit" name="delete"><i class="material-icons">delete</i></button>
          </a> <br><br>
          {% endif %}
          <a href="#">
            <button class="btn2" type="submit" name="comment"><i class="material-icons">comment</i></button>
          </a>
        </div>

        <div class="city col s11">
          <h3>{{ post.title }}</h3>
          <hr />
          <p>{{ post.description }}</p>
          <br>
          <p>Written by <span class="author"><a href="#">{{ post.profile.profile_name }}</a></span> on <span
              class="published_date">{{ post.date }}</span></p>
          <br>
        </div>
        
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('select').not('.disabled').formSelect();
  });
</script>
{% endblock %}