{% extends 'base.html' %}
{% load tz %}
{% block content %}

<h3>My Profile</h3>
<hr />

<div class="not-mobile">
  <div class="row">

  <div class="post col s4">
    <div class="card">
      <div class="card-content">
        
        <!-- uploads/media/uploads/default_picture.png -->
        <!-- http://localhost:8000/media/uploads/uploads/leopard_gecko.png -->
        
        <div class="row">
          <div class="post col s3">
            <img src="{{ profile.upload_picture.url }}" class="circle responsive-img" style="width: 100px; height: 100px;">
          </div>
          
          <div class="post col s7">
            <h6>Name: {{ profile.profile_name }} </h6>
            <h6>City: {{ profile.city }}</h6>
            <h6>Joined: {{ profile.user.date_joined }}</h6>
            <br>
          </div>
          <div class="col s2">
            <a href="{% url 'edit_profile' %}"><button class=" btn-floating"><i class="material-icons">edit</i></button></a>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="post col s8">
  <div class="card">
    <div class="card-content">
      <h5>My Posts</h5>
      {% for post in posts %}
      <div class="row">
        <div class="posts">
            <a href="{% url 'post_index' post.id%}">
              <h6>{{post.title}}</h6>
            </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  </div>
</div>
<!-- using materialize to edit drop downs -->
<script>
  const citySelectEl = document.getElementById("id_city");
  M.FormSelect.init(citySelectEl);
  const userSelectEl = document.getElementById("id_user");
  M.FormSelect.init(userSelectEl);
</script>

{% endblock %}