{% extends 'base.html' %}
{% load tz %}
{% block content %}

<h1>Profile Page</h1>
<hr />
<p>this is the profile page</p>


<div class="card">
  <div class="card-content">
    <form method="POST" action="{% url 'profile' %}">

      {% csrf_token %}
      <br><br>
      {{ profile.user.first_name }}
      {{ profile.user.last_name }}
      <br><br>
      {{ profile.user.date_joined | timezone:'us/pacific' }} PST

      <br><br>
      <p>City: {{ profile.city }}</p>
      <br><br>
      <p>Profile Photo: {{ profile.profile_picture }}</p>
      <br><br>
      <p>Posts {{ posts }}</p>
      <br><br>
      <button type="submit" name="update">Update</button>
    </form>

  </div>
</div>

<!-- using materialize to edit drop downs -->
<script>
  const citySelectEl = document.getElementById("id_city");
  M.FormSelect.init(citySelectEl);
  const userSelectEl = document.getElementById("id_user");
  M.FormSelect.init(userSelectEl);
</script>

{% endblock %}